<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a New Book</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="add-book-container">
        <div class="add-book-content">
    <h1 class="edit-new">Add a New Book</h1>
    <div class="new-body">
    <form action="/users/<%= user._id %>/books" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" />
      
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea>
      
        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="loved">Loved</option>
          <option value="disliked">Disliked</option>
          <option value="neutral">Neutral</option>
          <option value="confused">Confused</option>
        </select>
        <button type="submit">Add Book</button>
      </form>
    </div>
</div>
    <div class="add-book-image">
        <img src="https://cdn.pixabay.com/photo/2012/11/23/06/11/book-67049_1280.jpg" alt="bookshelf">
    </div>
    </div>
  </body>
</html>
